{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
<div class="homepage-container homepage">
    <h3>Hello!</h3>
    <p>Dit is een kleine website die ik maak om Symfony te oefenen.</p>
</div>
{% endblock %}
